.main-header {
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px;
}

.icons {
  color: #fff;
  font-size: 34px;
}

.icons svg {
  margin-left: 30px;
}

.MuiInputBase-input {
  color: #fff !important;
}

.MuiInput-underline:before {
  border-bottom-color: #fff !important;
}